<%- include('partials/header') -%>


		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Slicebox - 3D Image Slider with Fallback" />
        <meta name="keywords" content="jquery, css3, 3d, webkit, fallback, slider, css3, 3d transforms, slices, rotate, box, automatic" />
		<meta name="author" content="Pedro Botelho for Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
        <!-- <link rel="stylesheet" type="text/css" href="css/demo.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/slicebox.css" />
    <link rel="stylesheet" type="text/css" href="css/custom.css" />
    <script type="text/javascript" src="js/modernizr.custom.46884.js"></script>


<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="index.html">Product</a></span> <span>Product Single</span></p> -->
            <h1 class="mb-0 bread"><%=  pName %></h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">


              <!-- <div class="col-lg-6 mb-5 ftco-animate">
                 <img src="/upload/product/<%=pimg[0] %>" class="img-fluid" alt="#">

              </div> -->
							<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="width:400px">
							  <div class="carousel-inner">
							    <div class="carousel-item active">
							        <img src="upload/product/<%= pimg[0] %>" class="d-block w-100" alt="..." width="100px" height="300px">
							    </div>

										<%	for(var k = 1;k<=pimg.length-1 ; k++){ %>

									<%	if(pimg[k].length >1){ %>
											<div class="carousel-item">
												<img src="upload/product/<%= pimg[k] %>" class="d-block w-100" alt="..." height="300px">
											</div>
											<%	} %>
								<%	} %>
							    <!-- <div class="carousel-item">
							      <img src="..." class="d-block w-100" alt="...">
							    </div> -->
							  </div>
							</div>
          <!-- #################################### -->

    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3><%=  pName %></h3>
    				<!-- <div class="rating d-flex">
							<p class="text-left mr-4">
								<a href="#" class="mr-2">5.0</a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
							</p>
							<p class="text-left mr-4">
								<a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
							</p>
							<p class="text-left">
								<a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
							</p>
						</div> -->

    				<p class="price"> <span>₹<%=  pPrice %></span></p>
    				<p><%= pDes %></p>

						<!-- <div class="row mt-4">
							<div class="col-md-6">
								// <div class="form-group d-flex">
		            //   <div class="select-wrap">
	              //     <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	              //     // <select name="" id="" class="form-control">
	              //     // 	<option value="">Small</option>
	              //     //   <option value="">Medium</option>
	              //     //   <option value="">Large</option>
	              //     //   <option value="">Extra Large</option>
	              //     // </select>
	              //   </div>
		            // </div>
							</div>
							<div class="w-100"></div>
							<div class="input-group col-md-6 d-flex mb-3">
	             	<span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
	                   <i class="ion-ios-remove"></i>
	                	</button>
	            		</span>
	             	<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
	             	<span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
	                     <i class="ion-ios-add"></i>
	                 </button>
	             	</span>
	          	</div>
	          	<div class="w-100"></div>
	          	// <div class="col-md-12">
	          	// 	<p style="color: #000;">600 kg available</p>
	          	</div>
          	</div> -->
					<%if(pS>0){%>
          	 <p>
                <a href="/add-to-cart/<%= pID %>" class="btn btn-black py-3 px-5"  onclick="myFunction()">Add to Cart</a>
              </p>
						<%}else {%>
							<h3 class="price">Out of Stock!</h3>
						<%}%>
    			</div>
    		</div>
    	</div>
    </section>

    <script>
function myFunction() {
  alert("Added to cart");
}
</script>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.slicebox.js"></script>
		<script type="text/javascript">
			$(function() {

				var Page = (function() {

					var $navArrows = $( '#nav-arrows' ).hide(),
						$navOptions = $( '#nav-options' ).hide(),
						$shadow = $( '#shadow' ).hide(),
						slicebox = $( '#sb-slider' ).slicebox( {
							onReady : function() {

								$navArrows.show();
								$navOptions.show();
								$shadow.show();

							},
							orientation : 'h',
							cuboidsCount : 3
						} ),

						init = function() {

							initEvents();

						},
						initEvents = function() {

							// add navigation events
							$navArrows.children( ':first' ).on( 'click', function() {

								slicebox.next();
								return false;

							} );

							$navArrows.children( ':last' ).on( 'click', function() {

								slicebox.previous();
								return false;

							} );

							$( '#navPlay' ).on( 'click', function() {

								slicebox.play();
								return false;

							} );

							$( '#navPause' ).on( 'click', function() {

								slicebox.pause();
								return false;

							} );

						};

						return { init : init };

				})();

				Page.init();

			});
		</script>


<%- include('partials/footer') -%>
